*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
}
.section{
  display: grid;
  grid-template-columns: 1.2fr 5fr;
  min-height: 100vh;
  min-width: 100%;
}
.sidebar{
  background-color: rgb(88, 88, 88);
}
.content{
  background-color: rgb(160, 160, 160);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-list{
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.actions-sidebar{
  display: flex;
  font-size: 20px;
  padding-right: 40px;
  gap: 15px;
}
.project-list h5{
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.project-list:hover{
  background-color: aquamarine;
  transition: all 0.1s ease-in-out
}
#item-form{
  position: absolute;
  background-color: grey;
  border: 1px solid black;
  padding: 1rem 5rem;
}
.add-to-list{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid-parent{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 50px;
  padding-top: 50px;
}
.grid-parent>*{
  border: 1px solid black;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  max-width: 15rem;
  overflow: hidden;
}
.actions{
  display: flex;
  gap: 20px;
}
.actions>*{
  font-size: 30px;
}
.grid-parent>*:hover{
  background-color: aliceblue;
  transition: all 0.2s ease-in-out;
}
#delete>*,
#edit>*{
  pointer-events: none;
}
.check-container{
  font-size: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  border: 1px solid black;
  padding: 0.05rem 0.3rem;
}
.check-container{
  background-color: greenyellow;
}
.check-text{
  margin-bottom: 0px;
}
#checkbox{
  display: flex;
  align-items: center;
}
input#done{
  width: 20px;
  height: 20px;
}